*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-image: url(/triciadev.github.io/img/arm2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    padding: 20px 20%; 
}
.contact{
    height: 100%;
    width: 1500px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap: 6rem;
}
.contact-form h1{
    font-size: 70px;
    color: #fff;
    margin-bottom: 20px;
}
span{
    color: #072e33;
}
.contact-form p{
    color: #c6c9d8bf;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 2.8rem;
}
.contact-form form{
    position: relative;
}
.contact-form form input, form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}
.contact-form textarea{
    resize: none;
    height: 200px;
}
.contact-form form .btn{
    display: inline-block;
    background: #072e33;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px;
    transition: ease .20s;
    cursor: pointer;
}
.contact-form form .btn:hover{
    border: 2px solid #072e33;
    background: transparent;
    transform: scale(1.1);
}
#home{
	padding: .6rem .8rem;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	background: #072e33;
	color: white;
	font-size: 16px;
	text-decoration: none;
	outline: none;
	border: 2px solid #072e33;
	transition: .3s;
	cursor: pointer;
    border-radius: 10px;
}
#home:hover{
	background: transparent;
    text-decoration: none;
}

