*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
    background-image: url(/triciadev.github.io/img/cover.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.nav-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu > ul {
    display: flex;
}
.nav-menu > ul > li{
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 22px;
}
button{
    padding: 9px 25px;
    background-color: aquamarine;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
}
button:hover{
    background-color: #fff;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
    font-size: 70px;
    font-weight: bold;
}