@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
:root{
	--primary-color: #072e33;
	--secondary-color: #636e72;
	--font: 'Poppins', sans-serif;
}
body.pricing-body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    background-image: url(/triciadev.github.io/img/pexels-leon-ardho-1552242\ \(1\).jpg);
    background-size: cover;
    width: auto;
	background-attachment: fixed;
	position: relative;
}
.container-two{
	max-width: 1170px;
	margin:auto;
    margin-bottom: 150px;
}
#home{
	padding: .6rem .8rem;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	background: #072e33;
	color: white;
	font-size: 16px;
	text-decoration: none;
	outline: none;
	border: 2px solid #072e33;
	transition: .3s;
	cursor: pointer;
}
#home:hover{
	background: transparent;
    text-decoration: none;
}
.row-ul{
	display: inline-flex;
	flex-wrap: nowrap;
}
ul.pricing-ul{
	list-style: none;
}
.footers{
	background-color: #24262b;
    padding: 13.5px 0;
	margin-top: 138px;
	position: relative;
	
}
.footers-col{
   width: 25%;
   padding: 0 15px;
}
.footers-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footers-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #176b29;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footers-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footers-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footers-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footers-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footers-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media screen and (max-width: 767px){
  .footers-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media screen and (max-width: 574px){
  .footers-col{
    width: 100%;
}
}

h2{
	font-size: 30px;
	color:#fff;
}
p{
	color:rgb(238, 231, 231);
}
.has-tooltip:not(.tooltip-disabled) {
	cursor: help;
	position:relative;
}

.has-tooltip:not(.tooltip-disabled):hover
	.tooltip-container {
	display: block;
}

.has-tooltip .tooltip-container {
	display: none;
	position: absolute;
	background-color: #072e33;
	color:#fff;
	z-index: 20;
	bottom: calc(100% + 13px);
	left: -10px;
	right: -10px;
	padding: 16px 20px;
	border-radius: 8px;

}
.has-tooltip .tooltip-container:after {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #072e33;
	font-size: 0;
	line-height: 0;
	content: "";
	position: absolute;
	bottom: -10px;
}

.has-tooltip .tooltip-container h6 {
	font-weight: 600;
	font-size: 16px;
	margin: 0px;
}

.has-tooltip .tooltip-container  {
	color: #555;
	margin-top:4px;
}
/* - - - - - - - End Tooltips - - - */

#pricing-container * {
	box-sizing:border-box;
	flex-wrap: wrap;
}

#pricing-container {
	font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
	-webkit-font-smoothing: antialiased;
	max-width: 1080px;
	margin: 0 auto 50px;
	justify-content: center;
	line-height: 1;
	color: #000;
}


/* Cards */

#pricing-cards {
	display: flex;
	font-size: 14px;
}

#pricing-container .price-card {
	background-color: #33333a;
	color:#fff;
	font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
	display: block;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.25s;
	position: relative;
	margin: 0 6px;
	flex-grow: 1;
	flex-shrink:1;
	border-radius: 25px;
}

#pricing-container .price-card:hover {
	transform: translateY(-5px);
		box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}


/* - - - - - - - - - Header Section - - - */

#pricing-container .price-card--header {
	
	margin: 0;
	padding: 20px 0;
	text-align: center;
}

#pricing-container .price-card--header h4 {
	margin: 0;
	padding: 0;
	font-size: 28px;
	color: #fff;
	font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
	font-weight: 700;
}


/* - - - - - - - - - Price Section - - - */

#pricing-container .price-card--price {
	text-align: center;
	padding: 28px 0 6px 0;
}

#pricing-container .price-card--price-text {
	font-size: 48px;
}

#pricing-container .price-card--price-number {
	font-weight: 500;
	opacity: 0.89;
}

.odometer div {
	display: inline-block;
}

#pricing-container .price-card--price-number:before {
	content: "$";
	font-size: 24px;
	top: -16px;
	display: inline-block;
	position: relative;
}

#pricing-container .price-card--price-number:after {
	content: "/month";
	font-size: 12px;
	display: inline-block;
	color: grey;
}

#pricing-container .price-card--price-conditions {
	padding: 14px 0;
	color: #888;
	line-height: 1.5;
}




/* - - - - - - - - - CTA Button Section - - - */

#pricing-container .price-card--cta {
	padding: 0 20px 24px;
	text-align: center;
}

#pricing-container .price-card--cta--button.btn{
	min-width:20px;
	display:block;
	max-width:183px;
	margin:0 auto;
}

/* - - - - - - - - - Features Section - - - */

#pricing-container .price-card--features {

	padding: 16px 0 20px;
}

#pricing-container ul.price-card--features--list {
	padding: 0 32px;
	list-style: none;
	margin: 0;
}

#pricing-container li.price-card--features--item {
	margin: 8px 0;
	padding-left: 8px;
	line-height: 1.5;
	position: relative;
}

#pricing-container
	li.price-card--features--item:not(.features-disabled):before {
	content: "✓";
	color: #072e33;
	display: block;
	position: absolute;
	left: -8px;
}

#pricing-container li.price-card--features--item.features-highlight {
	 	font-weight: 600;
}

#pricing-container li.price-card--features--item.features-disabled {
	opacity: 0.1;
}

#pricing-container .price-card--mobile-features-toggle {
	text-align: center;
	margin: 24px 0 0;
	padding: 16px 0;
	cursor: pointer;
	display: none;
	color: #072e33;
}

#pricing-container .price-card--mobile-features-toggle:after {
	content: "Show All Features ▾";
}
#pricing-container .price-card--mobile-features-toggle.hideall:after {
	content: "Hide Features ▴";
}


#pricing-container .price-card--hero {
	margin: -38px 6px 0;
	width:31%; 
	z-index: 10;
}

#pricing-container .price-card--hero-text {
	background-color: #072e33;
	height: 38px;
	color: white;
	line-height: 38px;
	text-align: center;
	font-weight: 600;
}

/* - - - - - - - - - Only Yearly Basic Styles - - - */

#pricing-container .only-yearly {
	position: relative;
}

#pricing-container .only-yearly .price-card--price-number {
	transition: opacity 0.2s;
}

#pricing-container .only-yearly .only-yearly--text {
	position: absolute;
	top: -0.2em;
	left: 0;
	right: 0;
	display: none;
}
#pricing-container .only-yearly .only-yearly--text span {
	font-size: 14px;
}

#pricing-container .only-yearly.if-monthly .price-card--price-number {
	opacity: 0;
}

#pricing-container .only-yearly.if-monthly .only-yearly--text {
	display: block;
}

/* - - - - - - - - - Switch Section - - - */

#pricing-switch {
	margin: 80px auto 100px;
	text-align: center;
	line-height: 1.4;
	position: relative;
	max-width: 1080px;
}

#pricing-switch .switch-label {
	display: inline-block;
	width: 200px;
	text-align: center;
	opacity: 0.4;
	font-size: 16px;
	cursor: pointer;
	padding: 0 20px;
}

#pricing-switch .switch-label .save-money {
	color: #072e33;
	font-style: italic;
	padding-left: 8px;
}
#pricing-switch .save-money--mobile {
	color: #072e33;
	font-style: italic;
	padding-top: 22px;
	display: none;
}

#pricing-switch .switch-label.active {
	font-size: 18px;
	opacity: 1;
}
#pricing-switch .switch-label-monthly {
	text-align: right;
}
#pricing-switch .switch-label-yearly {
	text-align: left;
}

#pricing-switch .switch {
	position: relative;
	display: inline-block;
	width: 85px;
	height: 34px;
	vertical-align: -50%;
	margin: 0;
}

#pricing-switch .switch input {
	display: none;
}

#pricing-switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #072e33;
	border-radius: 34px;
	-webkit-transition: 0.1s;
	transition: 0.2s;
}

#pricing-switch .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	border-radius: 50%;
	-webkit-transition: 0.1s;
	transition: 0.2s;
}

input:checked + .slider {
	background-color: #072e33;
}

input:checked + .slider:before {
	transform: translateX(50px);
}


.btn2{
	width: 200px;
	height:45px;
	background: transparent;
	border:1px solid #075820;
	color:#fff;
	border-radius: 5px;
	cursor: pointer;
    margin:2em 5em;
}

.btn-pro:hover{
	background: transparent;
    text-decoration: none;
}
.btn-pro{
	width: 200px;
	height:45px;
	background: #072e33;
	border:none;
	color:#fff;
	border-radius: 5px;
	cursor: pointer;
    margin:2em 5em;
	transition: .3s;
	text-decoration: none;
	outline: none;
}
.switch-label{
	color:#fff;
}
.active{
	color: #072e33;
}
strong{
	color:#fff;
}
@media screen and (max-width: 600px){
	#pricing-switch .switch {
		margin-left: 1rem;
	}
}
